In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("fraudTrain.csv")
# df = pd.read_csv("fraudTest.csv")
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [3]:
df.drop(["Unnamed: 0", "cc_num", "merchant", "first", "last", "gender", "street", "city","state","zip", "job", "trans_num", "unix_time"], axis=1, inplace=True)
df.head()

,trans_date_trans_time,category,amt,lat,long,city_pop,dob,merch_lat,merch_long,is_fraud
0,2020-06-21 12:14:25,personal_care,2.86,33.9659,-80.9355,333497,1968-03-19,33.986391,-81.200714,0
1,2020-06-21 12:14:33,personal_care,29.84,40.3207,-110.4360,302,1990-01-17,39.450498,-109.960431,0
2,2020-06-21 12:14:53,health_fitness,41.28,40.6729,-73.5365,34496,1970-10-21,40.495810,-74.196111,0
3,2020-06-21 12:15:15,misc_pos,60.05,28.5697,-80.8191,54767,1987-07-25,28.812398,-80.883061,0
4,2020-06-21 12:15:17,travel,3.19,44.2529,-85.0170,1126,1955-07-06,44.959148,-85.884734,0

In [4]:
# 将日期列转换为 datetime 类型
df['dob'] = pd.to_datetime(df['dob'])

# 提取出生年份
df['dob'] = df['dob'].dt.year

# 计算年龄
current_year = 2025
df['dob'] = current_year - df['dob']

In [5]:
# 将日期时间列转换为 datetime 类型
df['trans_date_trans_time'] = pd.to_datetime(df['trans_date_trans_time'])

# 提取日期、时间、月份和星期几
df['time'] = df['trans_date_trans_time'].dt.hour
df['month'] = df['trans_date_trans_time'].dt.month
df['weekday'] = df['trans_date_trans_time'].dt.weekday  # 获取星期几的数字表示（0=星期一, 6=星期日）

In [6]:
df['Llat'] = abs(df['merch_lat'] - df['lat'])
df['Llong'] = abs(df['merch_long'] - df['long'])

# 删除原始的 'lat', 'long', 'merch_lat', 'merch_long' 列
df.drop(['lat', 'long', 'merch_lat', 'merch_long','trans_date_trans_time'], axis=1, inplace=True)

df.head()

,category,amt,city_pop,dob,is_fraud,time,month,weekday,Llat,Llong
0,personal_care,2.86,333497,57,0,12,6,6,0.020491,0.265214
1,personal_care,29.84,302,35,0,12,6,6,0.870202,0.475569
2,health_fitness,41.28,34496,55,0,12,6,6,0.177090,0.659611
3,misc_pos,60.05,54767,38,0,12,6,6,0.242698,0.063961
4,travel,3.19,1126,70,0,12,6,6,0.706248,0.867734

In [7]:
# # 计算每个类别的目标均值
# target_encoding = df.groupby('category')['is_fraud'].mean()

# # 将目标均值映射到原始数据
# df['Encoding'] = df['category'].map(target_encoding)
import pandas as pd
# One-Hot 编码
df = pd.get_dummies(df, columns=['category'], drop_first=True)

In [8]:
df.to_csv("test.csv")

In [9]:
# df.to_csv("Newtest.csv")